html {
  background-color: rgb(247, 234, 234);
}
h1 {
  line-height: 1.2;
  text-align: center;
}

body {
  background-color: rgb(247, 234, 234);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

td {
  background-color: rgb(130, 231, 235);
}

tbody,
ul {
  background-color: rgb(213, 214, 214);
}
