h1 {
    text-align: center;
}

section {
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}
body {
    background-color: rgb(78, 184, 245);
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}

thread {
    background-color: rgb(160, 160, 160);
}

tbody, ul {
    background-color: rgb(255, 255, 255);
}

td {
    
    flex-direction: column;
}